[Unit]
Description=Mabinogi Kuma Bot Discord Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/mabinogi-kuma-bot
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /home/ubuntu/mabinogi-kuma-bot/src/index.js
Restart=always
RestartSec=10
StandardOutput=append:/home/ubuntu/mabinogi-kuma-bot/main.log
StandardError=append:/home/ubuntu/mabinogi-kuma-bot/main.err

[Install]
WantedBy=multi-user.target
